    root{
       color:  #12263f, #e4e6ea;
       
    }
    a{
        color: black !important;
        text-decoration: none;
    }
    h2{
    font-family: Work, sans-serif;

    }
    h4{
        font-size: 1.3rem;

    }
    p{
        font-family: 'Work Sans', sans-serif;
    }
    
    .topheader{
        position: relative;
        width: 99%;
        left: 0;
        padding: 0.4rem;
        font-weight: 300 !important;
        font-size: .9rem;
        background: #fff;
        border-bottom: 1px solid #e4e6ea;
       
    }
    .headertwo{
        margin-top: .8rem;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #dce4ec;
        background: #fff;
        box-shadow: none;
    }
    
    .homeheader{
       display: flex;
       justify-content: end;
       color: #fff;
       font-family: Work, sans-serif;
        background-color: #12263f ;
        height:101px;
        
    
    }
   .iconsview{
    font-family: Work, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: -20px;
    margin: 0;
    

   }
   .homebody{
background-color: #fff;   
}
   .fixedbox{
    position: relative;
    background-color:#fff;
    top: -50px;
   }